<!-- component -->
<div class="fondo bg-black h-screen flex items-center justify-center p-2">
	<div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
		<!-- Banner Profile -->
		<!-- <div class="relative">
			<img src="https://placekitten.com/500/150" alt="Banner Profile" class="w-full rounded-t-lg">
			<img src="https://placekitten.com/150/150" alt="Profile Picture" class="absolute bottom-0 left-2/4 transform -translate-x-1/2 translate-y-1/2 w-24 h-24 rounded-full border-4 border-white">
		</div> -->
		<!-- User Info with Verified Button -->
		<div class="flex items-center mt-4">
			<h2 class="text-xl font-bold text-gray-800">Estimado estudiante:</h2>
		</div>
		<!-- Bio -->
		<p class="text-gray-700 mt-2"> Antes de completar el formulario, tenga en cuenta que los datos que registre no podrán ser editados posteriormente. Le recomendamos ingresar la información con precisión y verificar cada campo antes de enviarlo.</p>
		<!-- Social Links -->
		<!-- <div class="flex items-center mt-4 space-x-4">
			<a href="#" class="text-blue-500 hover:underline"> Twitter </a>
			<a href="#" class="text-blue-500 hover:underline"> GitHub </a>
			<a href="#" class="text-blue-500 hover:underline"> LinkedIn </a>
		</div> -->
		<!-- Separator Line -->
		<hr class="my-4 border-t border-gray-300">
		<!-- Stats -->
		<div class="flex justify-center text-gray-600 mx-2">
            <button (click)="formregistro()" class="cursor-pointer mb-3 w-full bg-green-500 hover:bg-[#5AB24B] text-white py-2 rounded-md transition duration-100">
                Continuar
            </button>
		</div>
	</div>
</div>