<div class="bg-gray-50 h-screen md:flex items-center ">

  <div class="w-1/2 h-screen bg-contain hidden lg:block">
    <img src="/assets/img/Sin-título.png" alt="Placeholder Image"
      class="full h-full object-cover bg-no-repeat bg-cover mask-fade-right">
  </div>

  <div class="w-full xl:w-1/2 min-h-screen flex items-center justify-center relative">
    <div class="max-w-md px-0">
      <div class="flex items-center justify-center">
        <div class="image-protector flex items-center justify-center space-x-2 w-2/3 lg:w-3/4 mb-4">
          <img src="/assets/img/logo-unm.png" alt="">
        </div>
      </div>
      <h1 class="text-xl md:text-2xl font-bold text-black text-center leading-tight mt-4 mb-4">Iniciar Sesión</h1>

      <form [formGroup]="loginForm">
        <!-- Username Input -->
        <div class="mb-4">
          <label class="block tracking-wide text-black font-bold mb-2">
            Cedula
            <span class="text-red-500">*</span>
          </label>
          <input formControlName="Cedula" (input)="formatearCedula($event)" autocomplete="off"
            class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-transparent border border-black focus:outline-none focus:border-[#009DD5]"
            type="" placeholder="000-000000-0000M">
          <div *ngIf="loginForm.controls['Cedula'].touched && loginForm.controls['Cedula'].invalid"
            class="text-red-500 text-xs font-medium ml-2">
            Este campo es requerido
          </div>
        </div>
        <!-- Password Input -->
        <div class="mb-4 relative group">
          <label class="block tracking-wide text-black font-bold mb-2">
            Contraseña
            <span class="text-red-500">*</span>
          </label>
          <input formControlName="Pass" type="password" autocomplete="off"
            class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-transparent border border-black focus:outline-none focus:border-[#009DD5]"
            placeholder="****" />
          <div
            class="absolute top-full mt-1 left-0 w-max max-w-full rounded bg-gray-800 text-white text-sm px-3 py-2 opacity-0 group-focus-within:opacity-100 transition-opacity z-10">
            Su contraseña corresponde a los últimos cuatro dígitos de su número de cédula.
          </div>
          <div *ngIf="loginForm.controls['Pass'].touched && loginForm.controls['Pass'].invalid"
            class="text-red-500 text-xs font-medium ml-2">
            Este campo es requerido
          </div>
        </div>

<!-- 
        <div class="flex justify-center w-full lg:justify-end">
          <span class="text-sm text-[#009DD5] hover:underline cursor-pointer">Olvidé mi contrasena</span>
        </div> -->
      </form>
      <div>
        <button (click)="esperaBtn()"
          class="mt-4 cursor-pointer mb-3 w-full bg-green-500 hover:bg-[#5AB24B] text-white py-2 rounded-md transition duration-100">Ingresar</button>
      </div>

    </div>
  </div>
</div>