<!-- component -->
<section class="lg:h-screen overflow-hidden relative px-4 lg:px-0 bg-gradient-to-tl from-[#009DD5] to-[#5AB24B]">
    <div class=" flex items-start justify-start space-x-2">
        <img src="/assets/img/Logo_negativo.png" class="h-34 lg:h-28" alt="">
    </div>
    <div class="flex flex-col items-center justify-center">

        <div class="bg-white rounded z-50 w-full mt-0 lg:mt-2 xl:mt-2 lg:w-1/2 xl:w-5/12 px-4 shadow-lg">
            <mat-stepper linear #stepper [orientation]="(stepperOrientation | async)!">
                <form [formGroup]="estudiantesForm" class="flex flex-col min-w-full space-y-8 mt-0 relative">
                    <mat-step label="DATOS">
                        <div class="grid gap-8 lg:grid-cols-2 mt-2 lg:mt-2 text-lg lg:text-sm uppercase">
                            <div class="h-10 w-full min-w-[200px]">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Nombres
                                    <span class="text-red-500">*</span>
                                </label>
                                <input formControlName="Nombres" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    type="" placeholder="Nombres">
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-0">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Primer Apellido
                                    <span class="text-red-500">*</span>
                                </label>
                                <input formControlName="Apellidos1" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    type="" placeholder="Primer Apellido">
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Segundo Apellido
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Apellido2" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    type="" placeholder="Segundo Apellido">
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Codigo MINED
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Codigo_MINED" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    type="" placeholder="Codigo MINED">
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Año Bachillerato
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Anio_bachillerato" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    type="" placeholder="Año Bachillerato">
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Carrera Técnica
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Carrera_tecnica" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    type="" placeholder="Carrera Técnica">
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Cédula de Identidad
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Numero_identidad" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    type="" placeholder="Cédula de Identidad">
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Fecha de Nacimiento
                                    <span class="text-red-500">*</span></label>
                                <div class="relative h-10 w-full">
                                    <div class="relative h-10 w-full">
                                        <div class="absolute top-0 right-1">
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="picker1"></mat-datepicker-toggle>
                                        </div>
                                        <input matInput [matDatepicker]="picker1" formControlName="Fecha_nacimiento"
                                            class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                            placeholder="D/M/A" autocomplete="off">
                                    </div>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </div>
                            </div>
                            
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Año que ingresó
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Anio_ingreso_carrera" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Año que ingresó" />
                            </div>
                        </div>
                        <div class="flex flex-col mt-12 lg:mt-10">
                            <button
                                class="uppercase cursor-pointer mt-4 w-full bg-[#1da2fc] hover:bg-[#009cd5] text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step label="DATOS PERSONALES">
                        <div class="grid gap-8 lg:grid-cols-2 mt-6 lg:mt-2 text-lg lg:text-sm uppercase">
                            <div class="h-10 w-full min-w-[200px]">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Nacionalidad
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_dimension_nacionalidad"
                                    [items]="dimensionNacionalidad" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-0">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    País
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_pais_origen"
                                    [items]="paises" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Departamento
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_departamento_origen"
                                    [items]="departamentos" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Municipio
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_municipio_origen"
                                    [items]="municipio" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Comunidad
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_comunidad_origen"
                                    [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Sexo
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_sexo" [items]="sexo"
                                    appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Etnia
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_etnia" [items]="etnias"
                                    appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Tipo de sangre
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_tipo_sangre"
                                    [items]="tiposangre" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Tipo de Identidad
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_tipo_identidad"
                                    [items]="tipoidentidad" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    zona de procedencia
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_zona_procedencia"
                                    [items]="procedencia" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Carrera técnica
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_carrera_tecnica"
                                    [items]="carrerastecnica" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Opción que clasificó
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_opcion_clasifico"
                                    [items]="opcionclasifico" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                        </div>
                        <div class="h-10 w-full min-w-[200px] text-lg lg:text-sm mt-14 lg:mt-10">
                            <label class="block uppercase tracking-wide text-black font-bold mb-2">
                                Centro de secundaria
                                <span class="text-red-500">*</span></label>
                            <ng-select placeholder="Seleccione" formControlName="Id_centro_secundaria"
                                [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                            </ng-select>
                        </div>
                        <div class="grid gap-6 lg:grid-cols-2 mt-14">
                            <button
                                class="uppercase cursor-pointer w-full border border-green-500 hover:bg-[#5AB24B] text-green-500 hover:text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperPrevious>Anterior</button>

                            <button
                                class="uppercase cursor-pointer w-full bg-[#1da2fc] hover:bg-[#009cd5] text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>
                    <mat-step label="DATOS ADICIONALES">
                        <div class="grid gap-8 lg:grid-cols-2 mt-6 lg:mt-6 text-lg lg:text-sm uppercase">
                            <div class="h-10 w-full min-w-[200px]">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Municipio de residencia
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_municipio_residencia"
                                    [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-0">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Comunidad de residencia
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_comunidad_residencia"
                                    [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Zona de residencia
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_zona_residencia"
                                    [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Estado Civil
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_estado_civil"
                                    [items]="estadocivil" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Tipo de conexión
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_tipo_conexion"
                                    [items]="tipoconexion" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Ocupación
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_ocupacion"
                                    [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Sector Ocupación
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_sector_ocupacion"
                                    [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Entidad Laboral
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_entidad_laboral"
                                    [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Empresa de Internet
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_empesa_internet"
                                    [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    N.° de hijos
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Numero_hijos" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="N.° de hijos" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Dirección de residencia
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Direccion_residencia" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Dirección de residencia" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Peso en libras
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Peso_libras" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Peso en libras" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Altura en cm
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Altura_cm" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Altura en cm" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Embarazo
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Embarazo" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Embarazo" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Meses de embarazo
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Meses_embarazo" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Meses de embarazo" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Dominio lengua
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Dominio_lengua" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Dominio lengua" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Dominio idioma
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Dominio_idioma" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Dominio idioma" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Trabaja
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Trabaja" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Trabaja" />
                            </div>
                        </div>
                        <div class="grid gap-6 lg:grid-cols-2 mt-14">
                            <button
                                class="uppercase cursor-pointer w-full border border-green-500 hover:bg-[#5AB24B] text-green-500 hover:text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperPrevious>Anterior</button>

                            <button
                                class="uppercase cursor-pointer w-full bg-[#1da2fc] hover:bg-[#009cd5] text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>
                    <mat-step label="DATOS ADICIONALES DOS">
                        <div class="grid gap-8 lg:grid-cols-2 mt-6 lg:mt-6 text-lg lg:text-sm uppercase">
                            <div class="h-10 w-full min-w-[200px]">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Periodo Académico
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_periodo" [items]="datos"
                                    appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-0">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Oferta Académica
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_oferta"
                                    [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Ingreso
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_ingreso"
                                    [items]="people$ | async" appendTo="html" bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Motivo de traslado
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Motivo_traslado" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Motivo de traslado" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    N.° de asignaturas según plan
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Numero_asignaturas_segun_plan" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="N.° de asignaturas según plan" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    N.° de asignaturas inscritas
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Numero_asignaturas_inscritas" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="N.° de asignaturas inscritas" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    N.° de electivas
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Numero_asignaturas_inscritas_mas1" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="N.° de electivas" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-6 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    N.° de asignaturas convalidadas
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Numero_asignaturas_convalidadas" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="N.° de asignaturas convalidadas" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    N.° de asignaturas aprobadas
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Numero_asignaturas_aprovadas" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="N.° de asignaturas aprobadas" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    N.° de asignaturas reprobadas
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Numero_asignaturas_reprobadas" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="N.° de asignaturas reprobadas" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Movilidad académica
                                    <span class="text-red-500">*</span></label>
                                <input formControlName="Movilidad_academica" autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Movilidad académica" />
                            </div>
                        </div>
                        <div class="flex flex-col mt-12 lg:mt-10">
                            <button
                                class="uppercase cursor-pointer mt-4 w-full bg-[#1da2fc] hover:bg-[#009cd5] text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperNext>Guardar</button>
                        </div>
                    </mat-step>
                </form>
            </mat-stepper>
        </div>
    </div>
    <footer class="absolute bottom-4 hidden md:block w-full z-9">
        <img src="/assets/img/sol-negativo.png" alt="" class="w-full object-cover">
    </footer>

</section>