<!-- component -->
<section class="lg:h-screen overflow-hidden relative px-4 lg:px-0 bg-gradient-to-tl from-[#009DD5] to-[#5AB24B]">
    <div class=" flex items-start justify-start space-x-2">
        <img src="/assets/img/Logo_negativo.png" class="h-34 lg:h-28" alt="">
    </div>
    <div class="flex flex-col items-center justify-center">

        <div class="bg-white rounded z-50 w-full mt-0 lg:mt-2 xl:mt-2 lg:full xl:w-5/6 px-4 shadow-lg">
            <mat-stepper linear #stepper [orientation]="(stepperOrientation | async)!">
                <form [formGroup]="estudiantesForm" class="flex flex-col min-w-full space-y-8 mt-0 relative">
                    <mat-step label="DATOS PERSONALES">
                        <div class="grid gap-8 lg:grid-cols-2 mt-2 lg:mt-2 text-lg lg:text-sm uppercase">
                            <div class="h-10 w-full min-w-[200px]">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Estado Civil
                                    <span class="text-red-500">*</span></label>
                                <ng-select formControlName="Id_estado_civil" placeholder="Seleccione" [items]="listestadocivil()" appendTo="html"
                                    bindLabel="Nombre" bindValue="Id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-0">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Tipo de Sangre
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="tiposangre()" appendTo="html"
                                    bindLabel="Nombre" bindValue="Id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Peso en libras
                                    <span class="text-red-500">*</span></label>
                                <input autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    type="" placeholder="Peso libras">
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Altura en centímetros
                                    <span class="text-red-500">*</span></label>
                                <input autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    type="" placeholder="Altura en centímetros">
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Código Mined
                                    <span class="text-red-500">*</span></label>
                                <input autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    type="" placeholder="Código Mined">
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Etnia
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="listetnias()" appendTo="html" bindLabel="Nombre"
                                    bindValue="Id">
                                </ng-select>
                            </div>
                            <div class=" w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    ¿Está embarazada?
                                    <span class="text-red-500">*</span></label>
                                <label for="toggle-embarazo" class="flex items-center cursor-pointer">
                                    <span class="mr-3 text-gray-900 text-sm font-medium">No</span>
                                    <mat-slide-toggle formControlName="Embarazo"></mat-slide-toggle>
                                    <span class="ml-3 text-gray-900 text-sm font-medium">Si</span>
                                </label>

                                <div class=" w-full min-w-[200px] mt-2 lg:mt-2 mb-0"
                                    *ngIf="estudiantesForm.get('Embarazo')?.value">
                                    <label class="block tracking-wide text-black font-bold mb-2">
                                        Meses de embarazo
                                        <span class="text-red-500">*</span>
                                    </label>
                                    <input formControlName="Meses_embarazo" autocomplete="off" type="number" min="1"
                                        max="12"
                                        class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                        placeholder="Meses de embarazo" />
                                </div>
                            </div>
                            <div class=" w-full min-w-[200px] mt-0 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    ¿Tiene Hijos?
                                    <span class="text-red-500">*</span>
                                </label>
                                <label for="toggle-hijos" class="flex items-center cursor-pointer">
                                    <span class="mr-3 text-gray-900 text-sm font-medium">No</span>
                                    <mat-slide-toggle formControlName="Tiene_hijos" id="toggle-hijos"
                                        color="primary"></mat-slide-toggle>
                                    <span class="ml-3 text-gray-900 text-sm font-medium">Sí</span>
                                </label>

                                <div class=" w-full min-w-[200px] mt-2 lg:mt-2"
                                    *ngIf="estudiantesForm.get('Tiene_hijos')?.value">
                                    <label class="block tracking-wide text-black font-bold mb-2">
                                        N.° de hijos
                                        <span class="text-red-500">*</span>
                                    </label>
                                    <input formControlName="Numero_hijos" autocomplete="off" type="number" min="1"
                                        max="12"
                                        class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                        placeholder="N.° de hijos" />
                                </div>
                            </div>
                            <div class=" w-full min-w-[200px] mt-0 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    ¿Domina Idiomas?
                                    <span class="text-red-500">*</span></label>
                                <label for="toggle-embarazo" class="flex items-center cursor-pointer">
                                    <span class="mr-3 text-gray-900 text-sm font-medium">No</span>
                                    <mat-slide-toggle formControlName="Domina_idioma"></mat-slide-toggle>
                                    <span class="ml-3 text-gray-900 text-sm font-medium">Si</span>
                                </label>

                                <div class=" w-full min-w-[200px] mt-2 lg:mt-2"
                                    *ngIf="estudiantesForm.get('Domina_idioma')?.value">
                                    <label class="block tracking-wide text-black font-bold mb-2">
                                        Dominio de idiomas
                                        <span class="text-red-500">*</span></label>
                                    <ng-select formControlName="Dominio_idioma" placeholder="Seleccione"
                                        [items]="" appendTo="html" bindLabel="name" bindValue="id">
                                    </ng-select>
                                </div>
                                <div class=" w-full min-w-[200px] mt-2 lg:mt-2"
                                    *ngIf="estudiantesForm.get('Domina_idioma')?.value">
                                    <label class="block tracking-wide text-black font-bold mb-2">
                                        Nivel alcanzado
                                        <span class="text-red-500">*</span></label>
                                    <ng-select formControlName="Dominio_idioma" placeholder="Seleccione"
                                        [items]="" appendTo="html" bindLabel="name" bindValue="id">
                                    </ng-select>
                                </div>
                            </div>
                            <div class=" w-full min-w-[200px] mt-0 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    ¿Domina lenguas?
                                    <span class="text-red-500">*</span></label>
                                <label for="toggle-embarazo" class="flex items-center cursor-pointer">
                                    <span class="mr-3 text-gray-900 text-sm font-medium">No</span>
                                    <mat-slide-toggle formControlName="Domina_lenguas"></mat-slide-toggle>
                                    <span class="ml-3 text-gray-900 text-sm font-medium">Si</span>
                                </label>
                                <div class=" w-full min-w-[200px] mt-2 lg:mt-2"
                                    *ngIf="estudiantesForm.get('Domina_lenguas')?.value">
                                    <label class="block tracking-wide text-black font-bold mb-2">
                                        Dominio de lenguas
                                        <span class="text-red-500">*</span></label>
                                    <ng-select formControlName="Dominio_lengua" placeholder="Seleccione"
                                        [items]="" appendTo="html" bindLabel="name" bindValue="id">
                                    </ng-select>
                                </div>
                                <div class=" w-full min-w-[200px] mt-2 lg:mt-2"
                                    *ngIf="estudiantesForm.get('Domina_lenguas')?.value">
                                    <label class="block tracking-wide text-black font-bold mb-2">
                                        Nivel alcanzado
                                        <span class="text-red-500">*</span></label>
                                    <ng-select formControlName="Dominio_lengua" placeholder="Seleccione"
                                        [items]="" appendTo="html" bindLabel="name" bindValue="id">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col mt-12 lg:mt-10">
                            <button
                                class="uppercase cursor-pointer mt-4 w-full bg-[#1da2fc] hover:bg-[#009cd5] text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step label="ORIGEN Y RESIDENCIAS">
                        <div class="grid gap-8 lg:grid-cols-2 mt-6 lg:mt-2 text-lg lg:text-sm uppercase">
                            <div class="h-10 w-full min-w-[200px]">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Nacionalidad
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="dimensionNacionalidad()" appendTo="html"
                                    bindLabel="Nombre" bindValue="Id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-0">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    País de origen
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="listpais()" appendTo="html" bindLabel="Nombre"
                                    bindValue="Id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Departamento de origen
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" formControlName="Id_departamento_origen" [items]="listdepartamentos()" (change)="getMunicipiosByDepartamento()" appendTo="html"
                                    bindLabel="Nombre" bindValue="Id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Municipio de origen
                                    <span class="text-red-500">*</span></label>
                                <ng-select formControlName="Id_municipio_origen" placeholder="Seleccione" [items]="listmunicipio()" appendTo="html" bindLabel="Nombre"
                                    bindValue="Id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Zona de origen
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="listzona()" appendTo="html" bindLabel="Nombre"
                                    bindValue="Id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Comunidad de origen
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Departamento de residencia
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Municipio de residencia
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html" bindLabel="name"
                                    bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Zona de residencia
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html" bindLabel="name"
                                    bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Comunidad de residencia
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>

                        </div>
                        <div class="h-10 w-full min-w-[200px] text-lg lg:text-sm mt-14 lg:mt-10">
                            <label class="block uppercase tracking-wide text-black font-bold mb-2">
                                DIRECCIÓN DE RESIDENCIA
                                <span class="text-red-500">*</span></label>
                            <input autocomplete="off" type="text"
                                class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                placeholder="DIRECCIÓN DE RESIDENCIA" />
                        </div>
                        <div class="grid gap-6 lg:grid-cols-2 mt-14">
                            <button
                                class="uppercase cursor-pointer w-full border border-green-500 hover:bg-[#5AB24B] text-green-500 hover:text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperPrevious>Anterior</button>

                            <button
                                class="uppercase cursor-pointer w-full bg-[#1da2fc] hover:bg-[#009cd5] text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step label="SITUACIÓN LABORAL">
                        <div class="h-10 w-full min-w-[200px] mt-6 lg:mt-6 text-lg lg:text-sm uppercase">
                            <label class="block tracking-wide text-black font-bold mb-2">
                                ¿Trabaja?</label>
                            <label for="toggle-embarazo" class="flex items-center cursor-pointer">
                                <span class="mr-3 text-gray-900 text-sm font-medium">No</span>
                                <mat-slide-toggle formControlName="Trabaja"></mat-slide-toggle>
                                <span class="ml-3 text-gray-900 text-sm font-medium">Si</span>
                            </label>
                        </div>
                        <div class="grid gap-8 lg:grid-cols-2 mt-6 lg:mt-6 text-lg lg:text-sm uppercase">
                            <div class="h-10 w-full min-w-[200px] mt-6 lg:mt-4"
                                *ngIf="estudiantesForm.get('Trabaja')?.value">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Ocupación
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-6 lg:mt-4"
                                *ngIf="estudiantesForm.get('Trabaja')?.value">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Sector de Ocupación
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2"
                                *ngIf="estudiantesForm.get('Trabaja')?.value">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    Entidad Laboral
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2"
                                *ngIf="estudiantesForm.get('Trabaja')?.value">
                                <label class="block  tracking-wide text-black font-bold mb-2">
                                    N.° de inss
                                    <span class="text-red-500">*</span></label>
                                <input autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="N.° de inss" />
                            </div>
                        </div>
                        <div class="grid gap-6 lg:grid-cols-2 mt-14">
                            <button
                                class="uppercase cursor-pointer w-full border border-green-500 hover:bg-[#5AB24B] text-green-500 hover:text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperPrevious>Anterior</button>

                            <button
                                class="uppercase cursor-pointer w-full bg-[#1da2fc] hover:bg-[#009cd5] text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>
                    <mat-step label="FORMACIÓN ACADEMICA">
                        <div class="grid gap-8 lg:grid-cols-2 mt-6 lg:mt-6 text-lg lg:text-sm uppercase">
                            <div class="h-10 w-full min-w-[200px]">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Departamento que culminó
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-0">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Municipio que culminó
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Centro de secundaria
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Año bachillerato
                                    <span class="text-red-500">*</span></label>
                                <input autocomplete="off"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Motivo de traslado" />
                            </div>
                            <div class="w-full min-w-[200px] mt-6 lg:mt-6 text-lg lg:text-sm uppercase">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    ¿Tiene carrera técnica?</label>
                                <label for="toggle-embarazo" class="flex items-center cursor-pointer">
                                    <span class="mr-3 text-gray-900 text-sm font-medium">No</span>
                                    <mat-slide-toggle formControlName="tiene_tecnica"></mat-slide-toggle>
                                    <span class="ml-3 text-gray-900 text-sm font-medium">Si</span>
                                </label>
                                <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2"
                                    *ngIf="estudiantesForm.get('tiene_tecnica')?.value">
                                    <label class="block tracking-wide text-black font-bold mb-2">
                                        Carrera Técnica
                                        <span class="text-red-500">*</span></label>
                                    <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                        bindLabel="name" bindValue="id">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Año que ingresó a la universidad
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                        </div>
                        <div class="grid gap-6 lg:grid-cols-2 mt-14">
                            <button
                                class="uppercase cursor-pointer w-full border border-green-500 hover:bg-[#5AB24B] text-green-500 hover:text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperPrevious>Anterior</button>

                            <button
                                class="uppercase cursor-pointer w-full bg-[#1da2fc] hover:bg-[#009cd5] text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>
                    <mat-step label="DISPOSITIVOS Y CONECTIVIDAD">
                        <div class="grid gap-8 lg:grid-cols-2 mt-2 lg:mt-2 text-lg lg:text-sm uppercase">
                            <div class="h-10 w-full min-w-[200px]">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Dipositivo
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-0">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    tipo DE CONEXIÓN A INTERNET
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Proveedor de internet
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <!-- <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    ¿Posee teléfono móvil?</label>
                                <label for="toggle-embarazo" class="flex items-center cursor-pointer">
                                    <span class="mr-3 text-gray-900 text-sm font-medium">No</span>
                                    <mat-slide-toggle></mat-slide-toggle>
                                    <span class="ml-3 text-gray-900 text-sm font-medium">Si</span>
                                </label>
                            </div> -->
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    COMPAÑÍA TELEFóNICA
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Numero celular
                                    <span class="text-red-500">*</span>
                                </label>
                                <input formControlName="Numero_hijos" autocomplete="off" type="number" min="1" max="12"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Numero celular" />
                            </div>
                        </div>
                        <div class="grid gap-6 lg:grid-cols-2 mt-14">
                            <button
                                class="uppercase cursor-pointer w-full border border-green-500 hover:bg-[#5AB24B] text-green-500 hover:text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperPrevious>Anterior</button>

                            <button
                                class="uppercase cursor-pointer w-full bg-[#1da2fc] hover:bg-[#009cd5] text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step label="DATOS FAMILIAR">
                        <div class="grid gap-8 lg:grid-cols-2 mt-2 lg:mt-2 text-lg lg:text-sm uppercase">
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Tipo de parentesco
                                    <span class="text-red-500">*</span></label>
                                <ng-select placeholder="Seleccione" [items]="" appendTo="html"
                                    bindLabel="name" bindValue="id">
                                </ng-select>
                            </div>
                            <div class="h-10 w-full min-w-[200px]">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Nombres del Tutor
                                    <span class="text-red-500">*</span></label>
                                <input autocomplete="off" type="number" min="1" max="12"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Nombres del Tutor" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-0">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Primer apellido del Tutor
                                    <span class="text-red-500">*</span></label>
                                <input autocomplete="off" type="number" min="1" max="12"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Primer apellido del Tutor" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Segundo apellido del Tutor
                                    <span class="text-red-500">*</span></label>
                                <input autocomplete="off" type="number" min="1" max="12"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Segundo apellido del Tutor" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Fecha de Nacimiento del Tutor
                                    <span class="text-red-500">*</span></label>
                                <div class="relative h-10 w-full">
                                    <div class="relative h-10 w-full">
                                        <div class="absolute top-0 right-1">
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="picker1"></mat-datepicker-toggle>
                                        </div>
                                        <input matInput [matDatepicker]="picker1"
                                            class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                            placeholder="D/M/A" autocomplete="off">
                                    </div>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </div>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Depende económicamente </label>
                                <label for="toggle-embarazo" class="flex items-center cursor-pointer">
                                    <span class="mr-3 text-gray-900 text-sm font-medium">No</span>
                                    <mat-slide-toggle formControlName="Trabaja"></mat-slide-toggle>
                                    <span class="ml-3 text-gray-900 text-sm font-medium">Si</span>
                                </label>
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Centro de trabajo del Tutor
                                    <span class="text-red-500">*</span></label>
                                <input autocomplete="off" type="number" min="1" max="12"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Centro de trabajo del Tutor" />
                            </div>
                            <div class="h-10 w-full min-w-[200px] mt-4 lg:mt-2">
                                <label class="block tracking-wide text-black font-bold mb-2">
                                    Ingresos mensual
                                    <span class="text-red-500">*</span></label>
                                <input autocomplete="off" type="number" min="1" max="12"
                                    class="h-full w-full rounded-[7px] bg-transparent placeholder:uppercase px-3 py-2.5 focus:bg-gray-100 border border-black focus:outline-none focus:border-[#009DD5]"
                                    placeholder="Numero celular" />
                            </div>
                        </div>
                        <div class="grid gap-6 lg:grid-cols-2 mt-14">
                            <button
                                class="uppercase cursor-pointer w-full border border-green-500 hover:bg-[#5AB24B] text-green-500 hover:text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperPrevious>Anterior</button>

                            <button
                                class="uppercase cursor-pointer w-full bg-[#1da2fc] hover:bg-[#009cd5] text-white py-4 lg:py-2 rounded-md transition duration-100"
                                matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>
                </form>
            </mat-stepper>
        </div>
    </div>
    <footer class="absolute bottom-4 hidden md:block w-full z-9">
        <img src="/assets/img/sol-negativo.png" alt="" class="w-full object-cover">
    </footer>

</section>