@import "tailwindcss";
@import "@ng-select/ng-select/themes/default.theme.css";
/* @import "@ng-select/ng-select/themes/material.theme.css"; */

*{
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* CONFIGURACION DE NG SELECT */
.ng-select .ng-select-container {
  @apply  bg-transparent  border-black focus:outline-none transition-colors;
}
/* Cuando está enfocado */
.ng-select.ng-select-focused .ng-select-container {
  @apply bg-gray-100 border-[#009DD5];
}

.ng-placeholder{
    @apply text-black! uppercase;
}
/* ------------------------------------------------------- */